@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  background-color: rgb(30, 30, 30);
}


@media (max-width: 500px) {
  p {
    font-size: 0.85rem;
  }
}

.navBar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;
  background: linear-gradient(0deg, rgba(0,0,0,0.1) 0%, rgba(255,255,255,0.1) 50%, rgba(0,0,0,0.1) 100%);
  background-color: #252525;
  z-index: 200;
  flex: 1;
  padding: 0 10px;
}

.navBar__Button {
  color: white;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 30px; /* Change this value to position the div on the left side */
  transform: translateY(-50%);
  font-size: 14px;
}

.navBar__tortuLogoContainer {
  position: absolute;
  width: 30px;
  height: 30px;
  cursor: pointer;
  left: 50%;
  transform: translateX(-50%);
  margin-top: -10px;
}

.menuTile {
  margin-bottom:4px;
  font-size: 1.25em;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
  background-color: green;
  transition: all 0.2s ease-in-out;
  background: linear-gradient(0deg, rgba(0,0,0,0.2) 0%, rgba(255,255,255,0.2) 50%, rgba(0,0,0,0.2) 100%);
  text-shadow: 0px 1px 1px rgba(255,255,255,0.3);
  color: rgba(0,0,0,0.6);
}
@media (max-width: 1049px) {
  .menuTile {
    font-size: 1em;
  }
}
.menuTile:hover {
  filter: brightness(85%);
  cursor: pointer;
}